//Mixin
//Simple mixin
@mixin inline-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
    }
}

.header ul {
    @include inline-list();
    li {
        background-color: black;
        padding: 0.7em;
        a {
            color: white;
        }
    }
}

.footer ul {
    @include inline-list();
    li {
        background-color: salmon;
        padding: 0.5em;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

//arguments
@mixin flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.container {
    @include flex-box();
    width: 800px;
    height: 600px;
    background-color: #eaeaea;
    .box {
        width: 60px;
        height: 60px;
        background-color: green;
        text-align: center;
        line-height: 60px;
    }
}